## python binary files
*.pyc
__pycache__/

## editor config files
.vscode/

## virtualenv files
devenv/

## log files
logs/
*.log

## env file
.env
.docker-env
.python-version

## static files
static/

## test cache and coverage file
.pytest_cache/
.coverage
coverage.xml
htmlcov/
